.vertical_text{
    writing-mode: tb-rl; 
    height: 200px;
    font-weight: bold;
}
.font_bold{
    font-weight: bold;
}

.color-inherit {
  background-color: inherit !important;
}

.custom-input {
  border: none !important;
  opacity: 1 !important;
}

.custom-input > input {
  border: none !important;
}

.ui.container.scrollable {
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.load-more {
  position: absolute;
  bottom: 10%;
  left: 50%;
}